<mat-card class="example-card" *ngIf="member">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{member.first_name}} {{member.last_name}}</mat-card-title>
      <mat-card-subtitle>{{member.current_party === 'R' ? 'Republican' : 'Democrat'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.pngkey.com/png/detail/22-223848_businessman-vector-person-logo-png.png" alt="Member">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/members" mat-button>Back to list</button>
    </mat-card-actions>
  </mat-card>
