.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://e7.pngegg.com/pngimages/527/663/png-clipart-logo-person-user-person-icon-rectangle-photography.png');
    background-size: cover;
}